body{
    margin: 0;
    padding: 0;
    background:url("/assets/img/background-mountain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.rain{
    height: 100vh;
    background-image: url("/assets/img/rain.png");
    animation: rain 0.3s linear infinite;
}
@keyframes rain{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 20% 100%;
    }
}
.rain::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/assets/img/lightining.png");
    top: -100px;
    transform: rotate(180deg);
    animation: lightining 4s linear infinite;
    opacity: 1;
}
@keyframes lightining{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    21%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    31%{
        opacity: 1;
    }
    35%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
/***********************************************************/
.main {
    display: grid;
}
.info{
    width: 800px;
    height:500px;
    background:#00000077;
    border-radius: 10px;
    justify-self: center;
}
.info,.rain,.lightining{
    grid-area: 1/1;
}
h1{
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
}
h2{
    font-weight: 700;
    font-family: sans-serif;
    color: #fff;
}

/***************************Responsive************************************/
@media screen and (max-width:400px) {
    .info,.rain,.lightining,.list,.data{
        width: 100%;
        font-size: 15px;
    }
    .header{
        font-size: 15px;
    }
  }
@media  screen and (max-width:600px) {
    .info,.rain,.lightining,.list,.data{
        width: 100%;
        font-size: 20px;
    }
    .header{
        font-size: 20px;
    }
}
